.post-card{
    display: flex;
    flex-flow: column;
    justify-content: center;

    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}


/* Post title as URL*/
.post-card a {
    font-family: titles;
    font-size: 5.4vh;
    text-decoration: none;
}
.post-card a:hover {
    text-decoration: underline;
}

.post-list-header{
    display: flex;  
    justify-content: space-between;
    align-items: baseline;
    width: 85%;
    margin: 0 auto ;
    margin-top: 2.5em;
}
@media(max-width: 700px)
{
    .post-list-header {
        flex-flow: column;
    }
}

/* Post title */
.post-card h3 {
    display: inline;
    margin: 0;
}
/* Publised date */
.post-card span{
    font-family: helvetica;
    font-weight: bold;
    font-size: 20px;
}

.post-card hr{
    border: 2px black solid;
    background-color: black;
    
    width: 100%;
    margin:auto;
}


/* Post content */
.post-card p{
    font-family: heveltica;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    margin-top: 0.5em;

    overflow: hidden;
    max-height: 14.2em;
    position: relative;
}
.post-list p::after{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    content: '';
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .7) 20%, rgba(255, 255, 255, 1) 80%);

}
