.titles {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 365px;
    margin-left:50px;
}

.titles h1{
    font-family: titles;
    font-size: 42px;
    padding-left:20px;
}


