/*top title*/
#page-title{
    width: fit-content;
    margin: 4em auto;
    margin-bottom: 2em;
    /* border: 0.7em solid #4eacb8; */
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#page-title span{
    color: #4eacb8
}

/*Mekaboti's Website*/
#page-title h1{
  color: black;
  font-size: 84px;
  font-family: Myfont;

  border-bottom: solid;
  border-bottom-width: 6px;


  text-align: center;
  margin: 0 auto;
  margin-bottom: 0;
}
@media(max-width: 650px)
{
    #page-title h1{
        font-size: 16vw;
    }
}

/* twitter link */
#page-title a {
    font-family: Myfont;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    margin-top:0.5em;
}
#page-title a:link {
    color: black;
}
#page-title a:visited {
    color: black;
}
#page-title a:hover {
    color: black;

    text-decoration: underline;
}
#page-title a:active {
    color: black;
}
@media(max-width: 650px)
{
    #page-title a{
        font-size: 6vw;
    }
}

footer {
  background-color: #0000;
  color: #0000;
}
  
  
  
  


