.post{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.post h1{
    font-family: titles;
    font-size: 56px;

    text-align: center;
    margin:0;
    padding-top: 60px;
}

.post h2{
    font-family: titles;
    font-size: 24px;

    text-align: right;

}


.post p{
    font-family: heveltica;
    font-size: 24px;

    text-align: justify;

    margin-left: 140px;
    margin-right: 140px
    
}