.navigator{
  display: flex;
  flex-flow: row-reverse;
  margin-right: 4%;

  height: 4vh;
}

.navigator a {
    font-family: titles;
    font-size: 30px;
    text-decoration: none;
}

.navigator a:hover {
    text-decoration: underline;
}

@media(max-width:460px)
{
    .navigator a{
        font-size: 7vw;
    }
}

.separator hr{
  height: 3px solid;
}