.navigator{
  display: flex;
  flex-flow: row-reverse;
  margin-right: 8%;

  height: 4vh;
}

.navigator a {
    font-family: titles;
    font-size: 1.5em;
    text-decoration: none;


  justify-content: space-between;
}
.navigator a:link {
    color: black;
}
.navigator a:visited {
    color: black;
}
.navigator a:hover {
    color: black;

    text-decoration: underline;
}
.navigator a:active {
    color: black;
}

.separator hr{
  height: 3px solid;
}