.navigator{
  display: flex;
  flex-flow: row-reverse;
  margin-right: 4%;

  height: 4vh;
}

.navigator{
    font-family: titles;
    font-size: 30px;
}

.navigator a{
    text-decoration: none;
}
.navigator a:hover {
    text-decoration: underline;
}

@media(max-width:460px)
{
    .navigator a{
        font-size: 7vw;
    }
}

.navigator span{
    font-weight: bold;
}

.separator hr{
  height: 3px solid;
}