/*言語選択　リンク*/
.languages .a {
    font-family: category-title;
    font-weight: bold;
    text-decoration: none;
  }

.languages a:link{
    color: whitesmoke;
    font-size: 16px
  }
.languages a:visited{
    color: whitesmoke
 }
.languages a:hover{
    color: whitesmoke
 }
.languages a:active{
    color: whitesmoke
 }

/*各言語の位置*/
 #select-jp .a{
    position: fixed;
    bottom:701px;
    left:1150px;
}
 #select-en .a{
    position: fixed;
    bottom:701px;
    left:1150px;
}
 #select-ru .a{
    position: fixed;
    bottom:701px;
    left:1150px;
}
 #select-es .a{
    position: fixed;
    bottom:701px;
    left:1150px;
}



/*サイトカテゴリリンク設定*/

.categories .a {
    font-family: Myfont;
    font-weight: bold;
    text-decoration: none;
  }

.categories a:link{
    color: black;
    font-size: 36px;
  }
.categories a:visited{    
    color: black;
 }
.categories a:hover{   
    color: black;
 }
.categories a:active{
    color: black;
 }



/*各カテゴリリンク設定*/
 #home .a{
  text-decoration: none;

  position: relative;
  bottom: 300px;
  left: 300px;
  /*padding-left: 100px;*/

  border-top: solid 3px;
  padding-top: 5px;
  border-bottom: solid 3px;
  padding-bottom: 5px;
}

#about-it .a{
  text-decoration: none;

  position: relative;
  bottom: 300px;
  left: 200px;
  padding-left: 100px;
}



 /*最近の投稿カード*/

.recent-posts a{
  font-family: new-standard;
  font-size: 20px;
  text-decoration: none;
}

.recent-posts a:link{
    color: black;
    font-size: 26px;
    align-self: auto;
    padding-top:30px;
    padding-left: 60px;
  }
.recent-posts a:visited{
    color: black;
 }
.recent-posts a:hover{   
    color: black
 }
.recent-posts a:active{
    color: black
 }
