@font-face{ 
  font-family: 'MyFont';
  src: url(/fonts/Pasajero.otf);
}
@font-face{
  font-family: 'titles';
  src: url(/fonts/neue/BebasNeue\ Bold.otf);
}

@font-face{
  font-family: 'sentences';
  src: url(/fonts/neue/BebasNeue\ Book.otf);
}


body{
  padding: 0;
  margin:0;
  width: 100%;
}

a{
  color: #4eacb8;
}

.wrap {
  /* overflow: hidden;*/
} 

ul{
  list-style-type: none; 
  padding: 0;
}

