<!DOCTYPE html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Css読み込み-->
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/above-page/above-page-style.css" type="text/css">
  <title> home </title>
</head>

<body>
  <div class ="wrap">
    <!--　load top image and texts-->
    <div id=page-title>
      <h1> Mekaboti's Website</h1>
      <a href="https://twitter.com/mekaboti"> Twitter:@mekaboti</a>
      <!-- <p>Twitter:@mekaboti</p> -->
      <!-- <p>Information about language learning and IT technologies</p> -->
    </div>

    {{ content }}
  </div>
</body>

<footer> </footer>