---
layout: below-page
---
<link rel="stylesheet" href="/assets/css/below-page/post-list.css" type="text/css">

{%- for post in site.posts -%}
<li>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <h3>
        <div class="post-card">
            <div id="post-list-header">
                <a href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
                <p>
                    {{ post.date | date_to_long_string }}
                </p>
            </div>
            
            <hr>
            
             {% assign posts=site.posts | where:"lang", page.lang %}

            <p> 
                {% if post.lang !="jp" | post.content | number_of_words > 100 %} 
                    {{ post.content | truncatewords:85 }} 
                {% endif %}
                
                {% if post.lang =="jp" | post.content | number_of_words > 1 %} 
                    {{ post.content | truncatewords:2 }} 
                {% endif %}
            </p>
        </div>
    </h3>
    {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
</li>
{%- endfor -%}