---
layout: below-page
---
<link rel="stylesheet" href="/assets/css/below-page/post-list.css" type="text/css">

{%- for post in site.posts -%}
<li>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <h3>
        <div class="post-card">
            <a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
            <hr>
            <p>    
                {{post.content}}
            </p>
        </div>
    </h3>
    {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
</li>
{%- endfor -%}