<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/others/post.css" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <div class="post">
        <!-- Show the title of post-->
        <h1> 
            {{ page.title | escape }}
        </h1>

        <h2>
            {{ page.date | date_to_long_string }}
        </h2>

        {% include site-navigator.html %}
        
        <!-- The content -->
        <main>    
            {{ content }} 
        </main>
    </div>

</body>

<footer> </footer>>
